<h1>Welcome to the CodeClan's Rock, Paper, Scissors Game</h1>

<h2>Player 1 please select either Rock, Paper or Scissors</h2>

<section class = 'flex-grid'>

  <div class = 'col'>
    <a href="/rock">
    <img src = "http://www.jerrylow.com/demo/rps/rock.svg" /></a>
  </div>
  <div class = 'col'>
    <a href="/paper">
    <img src="http://www.jerrylow.com/demo/rps/paper.svg" /></a>
  </div>
  <div class = 'col'>
    <a href="/scissor">
      <img src="http://www.jerrylow.com/demo/rps/scissor.svg"/></a>
  </div>
</section>
