<h1>Welcome to the CodeClan's Rock, Paper, Scissors Game</h1>

<h2>Player 1 please select either Rock, Paper or Scissors</h2>

<section class = 'flex-grid'>

  <div class = 'col'>
    <a href="/rock">
    <img src = "https://i.imgur.com/sOl5FSw.gif" />
    Rock</a>
  </div>
  <div class = 'col'>
    <a href="/paper">
    <img src="http://freedesignfile.com/upload/2016/05/Blank-curled-paper-corner-vector-material-06.jpg" />
    Paper</a>
  </div>
  <div class = 'col'>
    <a href="/scissor">
      <img src="https://cdn.pixabay.com/photo/2013/03/29/13/38/cut-97585_1280.png"/>
      Scissor</a>
  </div>
</section>
