<div class= "container">


<h1>Welcome to the CodeClan's Rock, Paper, Scissors Game</h1>

<p>
  RPS is a decision making game of wits, speed, dexterity and strategy between players who are unable to reach a decision using other means. The result of a game is considered a binding agreement between the players. RPS is a game played by honourable people and therefore every effort should be made to commit to the outcome. The game is played by substituting the elements of: Rock, Paper and Scissors with standard hand signals.
</p>

<h2>Player 1 please select either Rock, Paper or Scissors</h2>

<section class = 'flex-grid'>

  <div class = 'col'>
    <a href="/rock">
    <img src = "http://www.jerrylow.com/demo/rps/rock.svg" /></a>
  </div>
  <div class = 'col'>
    <a href="/paper">
    <img src="http://www.jerrylow.com/demo/rps/paper.svg" /></a>
  </div>
  <div class = 'col'>
    <a href="/scissor">
      <img src="http://www.jerrylow.com/demo/rps/scissor.svg"/></a>
  </div>
</section>

</div>
