<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Who Wins!</title>
  </head>
  <body>
    <div class = 'result' style = "margin: 25%">
      <p class = results><%= @game %></p>
    </div>
  </body>
</html>
