<h1>Welcome to the CodeClan's Rock, Paper, Scissors Game</h1>

<h2>Player 2 please select either Rock, Paper or Scissors</h2>

<a href="/rock/rock">Rock</a>
<a href="/rock/paper">Paper</a>
<a href="/rock/scissor">Scissor</a>
