<h1>Welcome to the CodeClan's Rock, Paper, Scissors Game</h1>

<h2>Player 2 please select either Rock, Paper or Scissors</h2>

<section class = 'main-section'>

  <div class = 'rock'>
    <a href="/rock/rock">Rock
    <img src = "https://i.imgur.com/sOl5FSw.gif" /></a>
  </div>
  <div class = 'paper'>
    <a href="/rock/paper">Paper
    <img src="http://freedesignfile.com/upload/2016/05/Blank-curled-paper-corner-vector-material-06.jpg" /></a>
  </div>
  <div class = 'paper'>
    <a href="/rock/scissor">Scissor
      <img src="https://cdn.pixabay.com/photo/2013/03/29/13/38/cut-97585_1280.png"/></a>
  </div>
</section>
