* {
  box-sizing: border-box;
  font-family: tahoma;
  text-align: center;
  margin: 0;
  padding: 0;
}

.flex-grid {
  display: flex;
  width: 400px;
  height: 100px;
}
.col {
  flex: 1;
  height: 100px;
  width: 100px;
}

img{
  height: 100px;
  width: 100px;
}
