* {
  box-sizing: border-box;
  font-family: tahoma;
  text-align: center;
  margin: auto;
  padding: 0.5%;
}
body {
  background-color: #43AA8B;
  color: #B2B09B;
}

.flex-grid {
  display: flex;
  width: 400px;
  height: 100px;
  justify-content: centre;
}
.col {
  flex: 1;
  height: 100px;
  width: 100px;
}

img{
  height: 100px;
  width: 100px;
}
